# Pandas

- its a python library used for working with datas
- it provides easy to use data structure 
- helps cleaning,manipulation and analysis 
- can easily import datasets from csv,excel,json and sql
- there are two primary data structures in pandas **Series** & **Dataframe**
- **Series** -> 1D labeled homogeneous array
- **DataFrame** -> 2d labeled heterogeneous table

In [23]:
import pandas as pd

In [22]:
arr = pd.Series([10,29,32,11,12])
arr.name = "numbers"
arr

0    10
1    29
2    32
3    11
4    12
Name: numbers, dtype: int64

In [25]:
df = pd.DataFrame(arr)
df

   numbers
0       10
1       29
2       32
3       11
4       12

In [26]:
index = ["apple","banana","orange","mango","grape"]

arr.index = index

arr

apple     10
banana    29
orange    32
mango     11
grape     12
Name: numbers, dtype: int64