In [2]:
import pandas as pd 

dic = {
    'name':['jishnu','abhi',],
    'age':[26,24]
}

df = pd.DataFrame(dic)
df['salary'] = [20000,10000]
df

     name  age  salary
0  jishnu   26   20000
1    abhi   24   10000

In [22]:
dic1 = {
    'name':['jhon','bob'],
    'age':[20,18]
}

dic2 = {
    "name":['jhon','bob']
}

df = pd.DataFrame(dic1)

df2 = pd.DataFrame(dic2)

m = pd.merge(df,df2 , on = "name")

m
d = pd.concat([df,df2])

d
# print(df)
# print(df2)

   name   age
0  jhon  20.0
1   bob  18.0
0  jhon   NaN
1   bob   NaN

In [17]:
list1 = [18,20,25,12,23]

s1 = pd.Series(list1)
s1.name = "Age"
df = s1.to_frame()
df["Age"] = 
df

   Age
2   25
4   23
1   20
0   18
3   12