In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report

In [3]:
df = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ML-practice-dataset.csv")

In [4]:
df.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [14]:
x = df.drop("loan_approved", axis = 1)
y = df["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state =42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

tree = DecisionTreeClassifier(max_depth = 2, random_state = 42)

model = tree.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(classification_report(y_test,y_predict))
print(accuracy_score(y_test,y_predict))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99        88
           1       0.95      1.00      0.98        42

    accuracy                           0.98       130
   macro avg       0.98      0.99      0.98       130
weighted avg       0.99      0.98      0.98       130

0.9846153846153847