In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv("/home/jishnu/Desktop/ML-dataset/Eda-Project-Encoded-scaled.csv")

In [3]:
df.head()

,Platform,Year_of_Release,Game_category,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Age_Rating
0,10,0.525,10,19,0.983333,0.941176,0.0,0.2,0.76,0.636364,0.217949,0.768421,0.004378,925,0
1,28,0.800,1,52,0.916667,0.764706,0.0,1.0,0.73,0.636364,0.217949,0.768421,0.004378,925,0
2,10,0.450,2,166,0.916667,1.000000,0.0,0.2,0.73,0.636364,0.217949,0.768421,0.004378,925,0
3,7,0.550,8,129,0.933333,0.882353,0.0,0.4,0.72,0.909091,0.153846,0.694737,0.004597,297,6
4,29,0.550,8,129,0.883333,1.000000,0.0,0.6,0.72,0.818182,0.448718,0.915789,0.002627,605,4

In [4]:
x = df.drop("Global_Sales",axis = 1)
y = df[["Global_Sales"]]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

lr  = LinearRegression()

model = lr.fit(x_train,y_train)

y_predict = model.predict(x_test)

r2_score(y_test,y_predict)

0.9987238427298517