In [15]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import r2_score,accuracy_score,confusion_matrix

In [4]:
df = pd.read_csv("/home/jishnu/Desktop/ML-dataset/eda-projectfile.csv")

In [5]:
df.head()

,Name,Platform,Year_of_Release,Game_category,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Age_Rating
0,Tony Hawk's Pro Skater 2,N64,2001,Sports,Activision,0.59,0.16,0.0,0.01,0.76,71.0,21.0,7.5,24.0,Ubisoft,E
1,The Walking Dead: Season One,X360,2012,Adventure,Avanquest Software,0.55,0.13,0.0,0.05,0.73,71.0,21.0,7.5,24.0,Ubisoft,E
2,Mortal Kombat 4,N64,1998,Fighting,GT Interactive,0.55,0.17,0.0,0.01,0.73,71.0,21.0,7.5,24.0,Ubisoft,E
3,James Bond 007: Agent Under Fire,GC,2002,Shooter,Electronic Arts,0.56,0.15,0.0,0.02,0.72,74.0,16.0,6.8,25.0,Electronic Arts,T
4,Dead to Rights,XB,2002,Shooter,Electronic Arts,0.53,0.17,0.0,0.03,0.72,73.0,39.0,8.9,16.0,Namco,M

In [6]:
c1 = df.select_dtypes("object")
c1.nunique()

Name             6142
Platform           31
Game_category      12
Publisher         494
Developer        1026
Age_Rating          7
dtype: int64

In [7]:
df.drop(["Name","Platform","Publisher","Developer"], axis = 1, inplace = True)

In [9]:
df.head()

,Year_of_Release,Game_category,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Age_Rating
0,2001,Sports,0.59,0.16,0.0,0.01,0.76,71.0,21.0,7.5,24.0,E
1,2012,Adventure,0.55,0.13,0.0,0.05,0.73,71.0,21.0,7.5,24.0,E
2,1998,Fighting,0.55,0.17,0.0,0.01,0.73,71.0,21.0,7.5,24.0,E
3,2002,Shooter,0.56,0.15,0.0,0.02,0.72,74.0,16.0,6.8,25.0,T
4,2002,Shooter,0.53,0.17,0.0,0.03,0.72,73.0,39.0,8.9,16.0,M

In [11]:
x = df.drop("Global_Sales" , axis = 1)
y = df[["Global_Sales"]]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

c2 = ["Game_category","Age_Rating"]

le = LabelEncoder()

for i in c2:
    x_train[i] = le.fit_transform(x_train[i])
    x_test[i] = le.transform(x_test[i])

mm = MinMaxScaler()

c3 = ["Year_of_Release","NA_Sales","EU_Sales","JP_Sales","Other_Sales","Critic_Score","Critic_Count","User_Score","User_Count"]

x_train[c3] = mm.fit_transform(x_train[c3])
x_test[c3] = mm.transform(x_test[c3])

lr = LinearRegression()

model = lr.fit(x_train,y_train)

y_predict = model.predict(x_test)

r2_score(y_test,y_predict)

0.9987235854163727

In [ ]:
x = df.drop("Age_Rating",axis = 1)
y = df["Age_Rating"]

x_train,x_test,y_train,y_test = train_test_split(x,y , test_size = 0.20, random_state = 42)

le = LabelEncoder()

x_train["Game_category"] = le.fit_transform(x_train["Game_category"])
x_test["Game_category"] = le.transform(x_test["Game_category"])

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c1 = ["Year_of_Release","NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales","Critic_Score","Critic_Count","User_Score","User_Count"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

lgr = LogisticRegression(max_iter = 1000)

model = lgr.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(accuracy_score(y_test,y_predict))
print(confusion_matrix(y_test,y_predict))

0.7593582887700535
[[1123    3    0    2    5]
 [  90    2    0    2    1]
 [   1    0    0    0    0]
 [  53    0    0    6    4]
 [ 195    2    0    2    5]]