In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ml_perfect_practice_dataset_700.csv")

In [3]:
df.head()

,age,experience_years,education_level,department,hours_per_week,projects_completed,training_hours,performance_score,monthly_income,city,annual_bonus,promotion_status
0,25,6,Diploma,IT,55,20,49,8.41,24129,Mumbai,23690,0
1,46,22,Master,Finance,47,11,32,3.15,42412,Mumbai,21176,0
2,24,6,Bachelor,Finance,37,13,85,5.80,31708,Bangalore,20128,0
3,40,22,Diploma,HR,56,8,119,2.49,48252,Chennai,12787,0
4,44,26,Master,Finance,39,10,17,7.52,39900,Bangalore,8336,0

In [4]:
df.tail()

,age,experience_years,education_level,department,hours_per_week,projects_completed,training_hours,performance_score,monthly_income,city,annual_bonus,promotion_status
695,48,27,Diploma,Finance,42,5,179,5.13,50487,Bangalore,38418,1
696,58,40,High School,HR,40,23,159,11.71,63298,Bangalore,23485,1
697,52,34,High School,Finance,40,2,192,8.31,54890,Bangalore,19269,1
698,29,8,Bachelor,HR,48,15,144,5.04,22813,Bangalore,17906,0
699,59,37,Bachelor,Sales,47,8,176,8.48,58458,Mumbai,29839,1

In [5]:
from sklearn.model_selection import train_test_split

x = df.drop("promotion_status",axis = 1)
y = df["promotion_status"]


x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25, random_state = 42)

In [6]:
x_train = pd.get_dummies(x_train,dtype = int, drop_first = True)
x_test = pd.get_dummies(x_test,dtype = int,drop_first = True)

In [7]:
x_train

,age,experience_years,hours_per_week,projects_completed,training_hours,performance_score,monthly_income,annual_bonus,education_level_Diploma,education_level_High School,education_level_Master,department_HR,department_IT,department_Operations,department_Sales,city_Chennai,city_Delhi,city_Kochi,city_Mumbai
163,46,27,47,4,115,3.71,49596,28280,0,0,1,0,0,0,1,0,0,1,0
286,47,27,56,12,161,10.07,50062,29467,0,0,1,1,0,0,0,0,0,0,1
613,38,19,37,5,189,7.87,39691,23932,1,0,0,1,0,0,0,0,0,0,1
518,28,6,46,8,116,4.55,18032,13935,0,1,0,0,0,1,0,0,0,0,0
464,43,21,48,2,110,2.60,37407,5459,1,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,32,8,53,4,153,5.91,31575,34575,1,0,0,0,0,1,0,0,0,0,0
106,55,37,57,9,189,8.73,56585,25022,0,0,0,0,0,0,1,0,0,0,1
270,57,37,47,21,10,11.71,64161,20278,1,0,0,1,0,0,0,0,1,0,0
435,49,25,44,6,184,7.89,56234,53209,0,0,0,0,1,0,0,0,0,1,0
102,50,30,57,13,185,12.67,57384,39146,0,1,0,1,0,0,0,1,0,0,0

In [8]:
x_test

,age,experience_years,hours_per_week,projects_completed,training_hours,performance_score,monthly_income,annual_bonus,education_level_Diploma,education_level_High School,education_level_Master,department_HR,department_IT,department_Operations,department_Sales,city_Chennai,city_Delhi,city_Kochi,city_Mumbai
158,42,19,50,5,72,3.87,37612,22308,1,0,0,0,1,0,0,0,1,0,0
500,46,28,41,12,70,8.44,48310,34009,0,1,0,0,0,0,0,1,0,0,0
396,21,0,56,22,172,11.85,19674,27017,1,0,0,0,0,0,0,0,0,0,1
155,30,7,56,18,88,6.53,20841,18181,0,0,1,0,0,1,0,0,0,0,1
321,43,24,52,16,73,9.12,53605,19585,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,38,19,56,1,150,4.23,34748,12434,1,0,0,0,0,1,0,1,0,0,0
579,56,34,51,3,199,9.91,57140,36139,1,0,0,0,1,0,0,0,0,1,0
231,26,6,41,10,97,6.41,21712,16219,0,1,0,1,0,0,0,0,0,1,0
336,55,36,58,10,149,9.32,57731,33492,0,0,0,0,0,0,0,1,0,0,0
656,23,0,52,22,147,11.27,16517,25722,0,0,0,0,0,0,0,0,0,1,0

In [9]:
from sklearn.preprocessing import MinMaxScaler 

col = ["age","experience_years","hours_per_week","projects_completed","training_hours","performance_score","monthly_income","annual_bonus"]

mm = MinMaxScaler()

x_train[col] = mm.fit_transform(x_train[col])
x_test[col] = mm.transform(x_test[col])

In [10]:
from sklearn.linear_model import LogisticRegression

lgr = LogisticRegression()

model = lgr.fit(x_train,y_train)

y_predict = model.predict(x_test)

In [11]:
y_predict

array([0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1])

In [12]:
y_test

158    0
500    1
396    1
155    1
321    1
      ..
618    0
579    1
231    0
336    1
656    1
Name: promotion_status, Length: 175, dtype: int64

In [13]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [14]:
confusion_matrix(y_test,y_predict)

array([[84,  6],
       [11, 74]])

In [15]:
accuracy_score(y_test,y_predict)

0.9028571428571428