In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ML-practice-dataset.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    650 non-null    int64
 1   income                 650 non-null    int64
 2   experience_years       650 non-null    int64
 3   education_years        650 non-null    int64
 4   hours_per_week         650 non-null    int64
 5   credit_score           650 non-null    int64
 6   distance_from_work_km  650 non-null    float64
 7   annual_spending        650 non-null    int64
 8   loan_approved          650 non-null    object
dtypes: float64(1), int64(7), object(1)
memory usage: 45.8+ KB

In [4]:
df.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [5]:
from sklearn.model_selection import train_test_split

x = df.drop("loan_approved",axis = 1)
y = df["loan_approved"]


x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20, random_state = 42)

In [6]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler

le = LabelEncoder()

y_train = le.fit_transform(y_train)

y_test = le.transform(y_test)

In [8]:
mm = MinMaxScaler()
x_train = mm.fit_transform(x_train)
x_test = mm.transform(x_test)

In [10]:
from sklearn.linear_model import LogisticRegression

lgr = LogisticRegression()

In [11]:
model = lgr.fit(x_train,y_train)

y_predict = model.predict(x_test)

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(y_test,y_predict)

0.8846153846153846