In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.preprocessing import LabelEncoder,MinMaxScaler

In [2]:
data = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ml_practice_dataset_600_rows.csv")

df = data.copy()

In [3]:
df.head()

   age  experience_years  ... annual_bonus promotion_status
0   56                34  ...       109186                1
1   46                18  ...        92902                1
2   32                19  ...       164629                1
3   25                17  ...        76334                1
4   38                13  ...       111719                1

[5 rows x 12 columns]

In [4]:
df.describe()

              age  experience_years  ...   annual_bonus  promotion_status
count  600.000000        600.000000  ...     600.000000        600.000000
mean    39.193333         17.113333  ...  100278.880000          0.525000
std     12.138844         10.208371  ...   56129.943132          0.499791
min     18.000000          0.000000  ...    5066.000000          0.000000
25%     29.000000          8.000000  ...   51170.000000          0.000000
50%     40.000000         17.000000  ...  102334.000000          1.000000
75%     50.000000         26.000000  ...  148245.750000          1.000000
max     59.000000         34.000000  ...  199844.000000          1.000000

[8 rows x 9 columns]

In [5]:
le = LabelEncoder()

c1 = df.select_dtypes("object")

for i in c1.columns:
    df[i] = le.fit_transform(df[i])

In [6]:
df.head()

   age  experience_years  ...  annual_bonus  promotion_status
0   56                34  ...        109186                 1
1   46                18  ...         92902                 1
2   32                19  ...        164629                 1
3   25                17  ...         76334                 1
4   38                13  ...        111719                 1

[5 rows x 12 columns]

In [7]:
c2 = ["age","experience_years","hours_per_week","projects_completed","monthly_income","performance_score","training_hours","annual_bonus"]

mm = MinMaxScaler()

df[c2] = mm.fit_transform(df[c2])

In [8]:
df.describe()

              age  experience_years  ...  annual_bonus  promotion_status
count  600.000000        600.000000  ...    600.000000        600.000000
mean     0.516911          0.503333  ...      0.488828          0.525000
std      0.296069          0.300246  ...      0.288174          0.499791
min      0.000000          0.000000  ...      0.000000          0.000000
25%      0.268293          0.235294  ...      0.236700          0.000000
50%      0.536585          0.500000  ...      0.499379          1.000000
75%      0.780488          0.764706  ...      0.735092          1.000000
max      1.000000          1.000000  ...      1.000000          1.000000

[8 rows x 12 columns]

In [9]:
from sklearn.model_selection import train_test_split

x = df.drop("promotion_status",axis = 1)

y = df["promotion_status"]

In [11]:
x_test,x_train,y_test,y_train = train_test_split(x,y, test_size = 0.25, random_state = 42)

In [12]:
from sklearn.linear_model import LogisticRegression

log = LogisticRegression()


model = log.fit(x_train,y_train)

y_predict = model.predict(x_test)

In [13]:
y_predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1])

In [14]:
y_test

593    0
531    1
353    1
332    0
534    1
      ..
71     1
106    1
270    0
435    1
102    0
Name: promotion_status, Length: 450, dtype: int64

In [16]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test,y_predict)

array([[ 75, 142],
       [ 75, 158]])

In [17]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_predict)

0.5177777777777778