In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.preprocessing import LabelEncoder,MinMaxScaler

In [4]:
data = pd.read_csv("/home/jishnu/Desktop/ML-dataset/eda-projectfile.csv")

df = data.copy()

In [5]:
df.head()

,Platform,Year_of_Release,Game_category,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Age_Rating
0,10,0.525,10,19,0.983333,0.941176,0.0,0.2,0.76,0.636364,0.217949,0.768421,0.004378,925,0
1,28,0.800,1,52,0.916667,0.764706,0.0,1.0,0.73,0.636364,0.217949,0.768421,0.004378,925,0
2,10,0.450,2,166,0.916667,1.000000,0.0,0.2,0.73,0.636364,0.217949,0.768421,0.004378,925,0
3,7,0.550,8,129,0.933333,0.882353,0.0,0.4,0.72,0.909091,0.153846,0.694737,0.004597,297,6
4,29,0.550,8,129,0.883333,1.000000,0.0,0.6,0.72,0.818182,0.448718,0.915789,0.002627,605,4

In [6]:
df.describe()

,Platform,Year_of_Release,Game_category,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Age_Rating
count,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.00000,7476.000000
mean,15.088149,0.677612,4.629615,252.009898,0.134152,0.155745,0.140430,0.160861,0.125286,0.606024,0.220202,0.757367,0.005583,734.20947,0.947967
std,8.649805,0.142188,3.729578,156.175670,0.178995,0.229931,0.260245,0.229476,0.130687,0.158667,0.085883,0.078091,0.017734,291.82985,2.025350
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,6.000000,0.600000,1.000000,111.000000,0.000000,0.000000,0.000000,0.000000,0.030000,0.636364,0.217949,0.768421,0.004378,548.00000,0.000000
50%,16.000000,0.700000,4.000000,263.000000,0.066667,0.058824,0.000000,0.000000,0.070000,0.636364,0.217949,0.768421,0.004378,925.00000,0.000000
75%,20.000000,0.775000,8.000000,407.000000,0.200000,0.235294,0.142857,0.200000,0.180000,0.636364,0.217949,0.768421,0.004378,925.00000,0.000000
max,30.000000,1.000000,11.000000,493.000000,1.000000,1.000000,1.000000,1.000000,0.760000,1.000000,1.000000,1.000000,1.000000,1025.00000,6.000000

In [8]:
x = df.drop("Global_Sales", axis = 1)
y = df[["Global_Sales"]]

In [ ]:
from sklearn.model_selection import train_test_split

x_test,x_train,y_test,y_train = train_test_split(x,y,test_size=0.25,random_state = 42)

In [18]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [19]:
model = lr.fit(x_train,y_train)

In [20]:
y_predict = model.predict(x_test)

In [21]:
y_predict

array([[0.15157104],
       [0.10129699],
       [0.20078796],
       ...,
       [0.05004689],
       [0.14029563],
       [0.0903339 ]])

In [22]:
y_test

      Global_Sales
2191          0.15
3050          0.10
1600          0.20
1632          0.20
852           0.30
...            ...
4686          0.05
7261          0.01
4471          0.05
2348          0.14
3207          0.09

[1869 rows x 1 columns]

In [23]:
from sklearn.metrics import r2_score

print(f'r2score {r2_score(y_test,y_predict)}')

r2score 0.9987802429422014