In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import r2_score,accuracy_score,confusion_matrix,classification_report

In [2]:
data = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ML-practice-dataset.csv")

### LinearRegression

In [3]:
df = data.copy()

In [4]:
df.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [11]:
x = df.drop("annual_spending" , axis = 1)
y = df[["annual_spending"]]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

x_train["loan_approved"] = le.fit_transform(x_train["loan_approved"])
x_test["loan_approved"] = le.transform(x_test["loan_approved"])

mm = MinMaxScaler()

c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

lr = LinearRegression()

model = lr.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(f"r2score = {r2_score(y_test,y_predict)}")

r2score = 0.5597784629641732

### LogisticRegression

In [12]:
df1 = data.copy()

In [13]:
df1.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [17]:
x = df1.drop("loan_approved", axis = 1)
y = df1["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

lgr = LogisticRegression()

model = lgr.fit(x_train,y_train)

y_predict =model.predict(x_test)

print(accuracy_score(y_test,y_predict))
print(confusion_matrix(y_test,y_predict))
print(classification_report(y_test,y_predict))

0.8846153846153846
[[84  4]
 [11 31]]
              precision    recall  f1-score   support

           0       0.88      0.95      0.92        88
           1       0.89      0.74      0.81        42

    accuracy                           0.88       130
   macro avg       0.88      0.85      0.86       130
weighted avg       0.88      0.88      0.88       130

### svm SupportVectorMachine Classifier

In [18]:
df2 = data.copy()

In [19]:
df2.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [22]:
x = df2.drop("loan_approved", axis = 1)
y = df2["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

svm = SVC(kernel = "linear")

model = svm.fit(x_train,y_train)

y_predict = model.predict(x_test)


print(accuracy_score(y_test,y_predict))
print(confusion_matrix(y_test,y_predict))
print(classification_report(y_test,y_predict))

0.8769230769230769
[[81  7]
 [ 9 33]]
              precision    recall  f1-score   support

           0       0.90      0.92      0.91        88
           1       0.82      0.79      0.80        42

    accuracy                           0.88       130
   macro avg       0.86      0.85      0.86       130
weighted avg       0.88      0.88      0.88       130

### KNN (Knearestneighbours)

In [23]:
df3 = data.copy()

In [24]:
df3.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [32]:
x = df3.drop("loan_approved", axis = 1)
y = df3["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

knn = KNeighborsClassifier()

model = knn.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(accuracy_score(y_test,y_predict))
print(confusion_matrix(y_test,y_predict))
print(classification_report(y_test,y_predict))

0.8692307692307693
[[83  5]
 [12 30]]
              precision    recall  f1-score   support

           0       0.87      0.94      0.91        88
           1       0.86      0.71      0.78        42

    accuracy                           0.87       130
   macro avg       0.87      0.83      0.84       130
weighted avg       0.87      0.87      0.87       130