In [1]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,r2_score
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.svm import SVC

In [2]:
data = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ML-practice-dataset.csv")

### Linear Regression

In [3]:
df1 = data.copy()

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    650 non-null    int64
 1   income                 650 non-null    int64
 2   experience_years       650 non-null    int64
 3   education_years        650 non-null    int64
 4   hours_per_week         650 non-null    int64
 5   credit_score           650 non-null    int64
 6   distance_from_work_km  650 non-null    float64
 7   annual_spending        650 non-null    int64
 8   loan_approved          650 non-null    object
dtypes: float64(1), int64(7), object(1)
memory usage: 45.8+ KB

In [5]:
df1.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [6]:
le = LabelEncoder()
mm = MinMaxScaler()
lr = LinearRegression()

In [7]:
x = df1.drop("annual_spending",axis = 1)
y = df1[["annual_spending"]]

In [8]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20, random_state = 42)

x_train["loan_approved"] = le.fit_transform(x_train["loan_approved"])
x_test["loan_approved"] = le.transform(x_test["loan_approved"])

In [9]:
x_train

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,loan_approved
333,31,86386,27,18,58,446,18.48,0
29,66,97019,26,18,26,365,24.93,0
553,67,26995,38,18,68,328,9.24,0
286,29,122835,19,17,38,426,22.30,0
425,21,28833,39,11,45,842,36.36,0
...,...,...,...,...,...,...,...,...
71,37,72149,38,11,64,639,30.48,1
106,65,55398,1,14,37,638,19.25,0
270,65,132330,17,16,36,544,17.88,0
435,58,37427,33,15,39,581,49.38,0
102,61,57491,21,16,35,568,10.80,0

In [10]:
c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

In [11]:
model = lr.fit(x_train,y_train)

y_predict = model.predict(x_test)

In [12]:
print(r2_score(y_test,y_predict))

0.5597784629641732

### Logistic regression

In [13]:
df2 = data.copy()

In [14]:
df2.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [17]:
x = df2.drop("loan_approved",axis = 1)
y = df2["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c2 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c2] = mm.fit_transform(x_train[c2])
x_test[c2] = mm.transform(x_test[c2])

lgr = LogisticRegression()

model = lgr.fit(x_train,y_train)

y_predict = model.predict(x_test)

In [18]:
print(accuracy_score(y_test,y_predict))

print(confusion_matrix(y_test,y_predict))

0.8846153846153846
[[84  4]
 [11 31]]

### svm Support Vector Machine

In [19]:
df3 = data.copy()

In [21]:
df3.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [28]:
x = df3.drop("loan_approved",axis = 1)
y = df3["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c3 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c3] = mm.fit_transform(x_train[c3])
x_test[c3] = mm.transform(x_test[c3])

svm = SVC(kernel = "linear")

model = svm.fit(x_train,y_train)

y_predict = model.predict(x_test)

In [29]:
print(accuracy_score(y_test,y_predict))

print(confusion_matrix(y_test,y_predict))

0.8769230769230769
[[81  7]
 [ 9 33]]