In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import r2_score,accuracy_score

In [12]:
data = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ML-practice-dataset.csv")

In [13]:
df1 = data.copy()
print(df1.isnull().sum())
df.head()

age                      0
income                   0
experience_years         0
education_years          0
hours_per_week           0
credit_score             0
distance_from_work_km    0
annual_spending          0
loan_approved            0
dtype: int64

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [16]:
x = df1.drop("annual_spending", axis = 1)
y = df["annual_spending"]

x_train,x_test,y_train,y_test = train_test_split(x,y , test_size = 0.20, random_state = 42)

le = LabelEncoder()

x_train["loan_approved"] = le.fit_transform(x_train["loan_approved"])
x_test["loan_approved"] = le.transform(x_test["loan_approved"])

mm = MinMaxScaler()

c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

lr = LinearRegression()

model = lr.fit(x_train,y_train)

y_predict = model.predict(x_test)


print(f"r2score = {r2_score(y_test,y_predict)}")

r2score = 0.5597784629641732

### Logistic

In [17]:
df2 = data.copy()
df2.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [23]:
x = df2.drop("loan_approved" ,axis = 1)
y = df2["loan_approved"]


x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

c2 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

mm = MinMaxScaler()

x_train[c2] = mm.fit_transform(x_train[c2])
x_test[c2] = mm.transform(x_test[c2])

lgr = LogisticRegression()

model = lgr.fit(x_train,y_train)

y_predict = model.predict(x_test)


print(f"accuracy score = {accuracy_score(y_test,y_predict)}")

accuracy score = 0.8846153846153846