In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ML-practice-dataset.csv")

In [3]:
df1 = data.copy()

df1.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

### Linear Regression

In [8]:
x = df1.drop("annual_spending", axis = 1)
y = df1["annual_spending"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

x_train["loan_approved"] = le.fit_transform(x_train["loan_approved"])
x_test["loan_approved"] = le.transform(x_test["loan_approved"])

c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km"]

mm = MinMaxScaler()

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

model = lr.fit(x_train,y_train)

y_predict = model.predict(x_test)

from sklearn.metrics import r2_score

r2_score(y_test,y_predict)

0.5597784629641732

### Logistic regression

In [9]:
df2 = data.copy()
df2.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [15]:
x = df2.drop("loan_approved", axis = 1)
y = df2["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c2 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c2] = mm.fit_transform(x_train[c2])
x_test[c2] = mm.transform(x_test[c2])

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix

lgr = LogisticRegression()

model = lgr.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(accuracy_score(y_test,y_predict))
print(confusion_matrix(y_test,y_predict))

0.8846153846153846
[[84  4]
 [11 31]]

### Svm classifier

In [17]:
df3 = data.copy()
df3.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [20]:
x = df3.drop("loan_approved",axis = 1)
y = df3["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c3 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c3] = mm.fit_transform(x_train[c3])
x_test[c3] = mm.transform(x_test[c3])

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,classification_report

svm = SVC(kernel = "linear")

model = svm.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(classification_report(y_test,y_predict))
print(accuracy_score(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.90      0.92      0.91        88
           1       0.82      0.79      0.80        42

    accuracy                           0.88       130
   macro avg       0.86      0.85      0.86       130
weighted avg       0.88      0.88      0.88       130

0.8769230769230769

### KNN (K-Nearest-Neighbours)

In [22]:
df4 = data.copy()
df4.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [33]:
x = df4.drop("loan_approved", axis = 1)
y = df4["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c4 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c4] = mm.fit_transform(x_train[c4])
x_test[c4] = mm.transform(x_test[c4])

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors = 3)

model = knn.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(accuracy_score(y_test,y_predict))

0.8538461538461538

### Decision TRee

In [35]:
df5 = data.copy()
df5.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [37]:
x = df5.drop("loan_approved", axis = 1)
y = df5["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

tr = DecisionTreeClassifier(max_depth = 2)

model = tr.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(accuracy_score(y_test,y_predict))

0.9846153846153847