In [7]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.svm import SVR

In [2]:
df = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ML-practice-dataset.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    650 non-null    int64
 1   income                 650 non-null    int64
 2   experience_years       650 non-null    int64
 3   education_years        650 non-null    int64
 4   hours_per_week         650 non-null    int64
 5   credit_score           650 non-null    int64
 6   distance_from_work_km  650 non-null    float64
 7   annual_spending        650 non-null    int64
 8   loan_approved          650 non-null    object
dtypes: float64(1), int64(7), object(1)
memory usage: 45.8+ KB

In [4]:
df.head()

   age  income  ...  annual_spending  loan_approved
0   65   80478  ...            43391             No
1   22   88608  ...            46767             No
2   43  149514  ...            79609             No
3   21   97164  ...            27019             No
4   37   24216  ...            12875             No

[5 rows x 9 columns]

In [13]:
x = df.drop("annual_spending", axis = 1)
y = df[["annual_spending"]]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()
mm = MinMaxScaler()
mm1 = MinMaxScaler()
svm = SVR()

x_train["loan_approved"] = le.fit_transform(x_train["loan_approved"])
x_test["loan_approved"] = le.transform(x_test["loan_approved"])

c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

y_train = mm1.fit_transform(y_train)
y_test = mm1.transform(y_test)


model = svm.fit(x_train,y_train.ravel())

y_predict = model.predict(x_test)

print(r2_score(y_test,y_predict))

0.45603395710155914