In [1]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.metrics import r2_score,accuracy_score,confusion_matrix
from sklearn.svm import SVC

In [2]:
data = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ML-practice-dataset.csv")

In [3]:
df1 = data.copy()

### LinearRegression

In [4]:
df1.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [5]:
le = LabelEncoder()
mm = MinMaxScaler()
lr = LinearRegression()

In [6]:
x = df1.drop("annual_spending", axis = 1)
y = df1["annual_spending"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20 , random_state = 42)

x_train["loan_approved"] = le.fit_transform(x_train["loan_approved"])
x_test["loan_approved"] = le.transform(x_test["loan_approved"])
c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])




model = lr.fit(x_train,y_train)

y_predict = model.predict(x_test)


r2_score(y_test,y_predict)

0.5597784629641732

### LogisticRegression

In [7]:
df2 = data.copy()

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    650 non-null    int64
 1   income                 650 non-null    int64
 2   experience_years       650 non-null    int64
 3   education_years        650 non-null    int64
 4   hours_per_week         650 non-null    int64
 5   credit_score           650 non-null    int64
 6   distance_from_work_km  650 non-null    float64
 7   annual_spending        650 non-null    int64
 8   loan_approved          650 non-null    object
dtypes: float64(1), int64(7), object(1)
memory usage: 45.8+ KB

In [9]:
x = df2.drop("loan_approved", axis = 1)
y = df2["loan_approved"]

In [10]:
lgr = LogisticRegression()

x_train,x_test,y_train,y_test = train_test_split(x,y, random_state = 42 , test_size = 0.20)

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

c2 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c2] = mm.fit_transform(x_train[c2])
x_test[c2] = mm.transform(x_test[c2])

model = lgr.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(confusion_matrix(y_test,y_predict))
print(accuracy_score(y_test,y_predict))

[[84  4]
 [11 31]]
0.8846153846153846

### Svm( Support Vector Machine)

In [11]:
df3 = data.copy()

In [13]:
svm = SVC(kernel = "linear")

x = df3.drop("loan_approved",axis = 1)
y = df3["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20,random_state = 42)

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

c3 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c3] = mm.fit_transform(x_train[c3])
x_test[c3] = mm.transform(x_test[c3])

model = svm.fit(x_train,y_train)

y_predict = model.predict(x_test)

print(accuracy_score(y_test,y_predict))

print(confusion_matrix(y_test,y_predict))

0.8769230769230769
[[81  7]
 [ 9 33]]