In [5]:
import pandas as pd 
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder,MinMaxScaler

In [2]:
df = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ML-practice-dataset.csv")

In [3]:
df.head()

,age,income,experience_years,education_years,hours_per_week,credit_score,distance_from_work_km,annual_spending,loan_approved
0,65,80478,11,14,42,359,12.39,43391,No
1,22,88608,30,18,38,597,49.81,46767,No
2,43,149514,36,13,45,510,28.58,79609,No
3,21,97164,16,11,69,333,43.22,27019,No
4,37,24216,2,13,67,616,18.91,12875,No

In [4]:
df.isnull().sum()

age                      0
income                   0
experience_years         0
education_years          0
hours_per_week           0
credit_score             0
distance_from_work_km    0
annual_spending          0
loan_approved            0
dtype: int64

In [7]:
x = df.drop("loan_approved", axis = 1)
y = df["loan_approved"]

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.20, random_state = 42)

le = LabelEncoder()

y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

mm = MinMaxScaler()

c1 = ["age","income","experience_years","education_years","hours_per_week","credit_score","distance_from_work_km","annual_spending"]

x_train[c1] = mm.fit_transform(x_train[c1])
x_test[c1] = mm.transform(x_test[c1])

svm = SVC(kernel = "linear")

model = svm.fit(x_train,y_train)

y_predict = model.predict(x_test)

In [8]:
confusion_matrix(y_test,y_predict)

array([[81,  7],
       [ 9, 33]])

In [9]:
accuracy_score(y_test,y_predict)

0.8769230769230769

In [11]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.90      0.92      0.91        88
           1       0.82      0.79      0.80        42

    accuracy                           0.88       130
   macro avg       0.86      0.85      0.86       130
weighted avg       0.88      0.88      0.88       130