In [1]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("/home/jishnu/Desktop/ML-dataset/ml_perfect_practice_dataset_700.csv")

In [3]:
df.head()

,age,experience_years,education_level,department,hours_per_week,projects_completed,training_hours,performance_score,monthly_income,city,annual_bonus,promotion_status
0,25,6,Diploma,IT,55,20,49,8.41,24129,Mumbai,23690,0
1,46,22,Master,Finance,47,11,32,3.15,42412,Mumbai,21176,0
2,24,6,Bachelor,Finance,37,13,85,5.80,31708,Bangalore,20128,0
3,40,22,Diploma,HR,56,8,119,2.49,48252,Chennai,12787,0
4,44,26,Master,Finance,39,10,17,7.52,39900,Bangalore,8336,0

In [4]:
x = df.drop("promotion_status", axis = 1)
y = df["promotion_status"]

x_train,x_test,y_train,y_test = train_test_split(x,y ,test_size = 0.20 , random_state = 42)

In [5]:
x_test  = pd.get_dummies(x_test,drop_first = True,dtype = int)
x_train = pd.get_dummies(x_train,drop_first = True,dtype = int)

In [6]:
x_train

,age,experience_years,hours_per_week,projects_completed,training_hours,performance_score,monthly_income,annual_bonus,education_level_Diploma,education_level_High School,education_level_Master,department_HR,department_IT,department_Operations,department_Sales,city_Chennai,city_Delhi,city_Kochi,city_Mumbai
82,25,5,40,14,154,7.49,27770,14047,0,1,0,1,0,0,0,1,0,0,0
51,54,36,56,23,51,8.77,61945,28176,0,0,0,0,0,0,0,1,0,0,0
220,54,34,49,7,164,10.12,54454,27156,1,0,0,0,0,0,1,0,0,1,0
669,32,14,56,9,145,8.52,34050,19906,0,0,0,0,0,0,1,0,0,0,0
545,50,27,49,22,91,7.36,42025,10932,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,32,8,53,4,153,5.91,31575,34575,1,0,0,0,0,1,0,0,0,0,0
106,55,37,57,9,189,8.73,56585,25022,0,0,0,0,0,0,1,0,0,0,1
270,57,37,47,21,10,11.71,64161,20278,1,0,0,1,0,0,0,0,1,0,0
435,49,25,44,6,184,7.89,56234,53209,0,0,0,0,1,0,0,0,0,1,0
102,50,30,57,13,185,12.67,57384,39146,0,1,0,1,0,0,0,1,0,0,0

In [7]:
c1 = ["age","experience_years","hours_per_week","projects_completed","training_hours","performance_score","monthly_income","annual_bonus"]

mm = MinMaxScaler()

x_train[c1] = mm.fit_transform(x_train[c1])

x_test[c1] = mm.transform(x_test[c1])

In [8]:
svm = SVC()

model = svm.fit(x_train,y_train)

y_predict = model.predict(x_test)

In [9]:
accuracy_score(y_test,y_predict)

0.8857142857142857

In [10]:
confusion_matrix(y_test,y_predict)

array([[67,  7],
       [ 9, 57]])

In [12]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.88      0.91      0.89        74
           1       0.89      0.86      0.88        66

    accuracy                           0.89       140
   macro avg       0.89      0.88      0.89       140
weighted avg       0.89      0.89      0.89       140