### Task 1
- create a variable x with value 10, then update it by adding 5, multiplying by 2,
  and subtracting 4. Print the final result ?

In [ ]:
x = 10

x+=5
x*=2
x-=4

print(x)

### Task 2
- Store your name, age, and height in three separate variables and print them in a
  single line?

In [ ]:
name = 'jishnu'
age = 26
height =5.6

print(f"My name is {name} and i am {age} years old and my height is {height}")

### Task 3
- Convert a float number 3.1415 to integer and string print both?

In [ ]:
num = 3.1415

integer = int(num)

string = str(num)

print(type(num))

print(type(integer))

print(type(string))

### Task 4
- Use the keyword **in** to check whether the character 'a' exists in the string
'data'.?

In [ ]:
text = 'data'

print("a" in text)

### Task 5
- Create a variable using the None keyword and print its type

In [ ]:
num = None
print(type(num))

### Task 6
- Take a string "Hello World" and convert it to: (a) uppercase, (b) lowercase,
(c) title case?

In [ ]:
text = "hello world"

up =text.upper()
lw =text.lower()
ti =text.title()
cp =text.capitalize()
re =text.replace("hello","hai")

print(up)
print(lw)
print(ti)
print(cp)
print(re)

### Task 7
- Join a list of strings ["Data", "Science", "is", "fun"] into a single
string separated by spaces.?

In [ ]:
strings =["Data","Science","is","fun"]

jo =" ".join(strings)

print(jo)

### Task 8
- Split the string "apple,banana,cherry" into a list.?

In [ ]:
string = "apple,banana,cherry"

lists = string.split(",")

print(lists)

### Task 9
- Create a list of numbers [10, 20, 30, 40, 50] and print the third element.?

In [ ]:
numbers = [10,20,30,40,50]

print(numbers[2])

### Task 10
- Append the element 60 to the list and then reverse the list ?

In [ ]:
numbers = [10, 20, 30, 40, 50]

numbers.append(60)
numbers.reverse()

print(numbers)

In [ ]:
number = [1,3,2,5,4,7,6]

number.sort()
number.insert(0,"hai")
number.insert(2,"hello")
number.pop(2)

print(number)

### Task 11
- Create a tuple of 5 fruits and print the second and last fruits using slicing.â€‹?

In [ ]:
fruits =('apple','orange','banana','mango','grape')

new = fruits[1],fruits[-1]

print(new)

In [ ]:
fruits = ['apple','banana','orange','apple','pinaple','grape','pinaple']

removed_duplicates = list(dict.fromkeys(fruits))

print(removed_duplicates)

### Task 12
- Unpack the tuple (1, 2, 3) into three separate variables and print them.?

In [ ]:
num =(1,2,3)

num1,num2,num3=num

print(num1)
print(num2)
print(num3)

In [ ]:
name = "jishnu"
age = 26
text = 'my name is {} and i am {} years old'

print(text.format(name,age))

In [ ]:
text = "hello world how are you"

t = text.split()


t.insert(2,"jishnu")
print(t)
print(text)

### Task 13
- finding frequency of a string?

In [ ]:
from collections import Counter

text = "hello world how are you"

frequency = Counter(text)


for keys,values in frequency.items():
    print(f"{keys} = {values}")

In [ ]:
#multiplication table of 5


for i in range(1,10):
    print(f"{i} x {5} = {i*5}")

In [ ]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")

        if i == num and j == num:
            break 

    print()

In [ ]:
text = "hello"

t = text[0:5:1]
print(t)

### Task 14
- frequency counter function

In [ ]:
from collections import Counter

list1=[1,2,3,2,1,5,2,1,7,2,1]

def frequency(x):
    t=Counter(x)
    for keys,values in t.items():
        print(f"{keys} = {values}")


frequency(list1)

### Some random question practice

In [ ]:
inp = input("enter anything to check palindrome")

def palindrome(text):
    if text == text[::-1]:
        print("its palindrome")

    else:
        print("its not palindrome")


palindrome(inp)

In [ ]:
list1 = [1, 2, 3, 2, 1, 5, 2, 1, 7, 2, 1]

list2 = ["apple","banana","apple", "orange","equals","banana", "orange"]


def duplicate_remover(re):
    convert = list(dict.fromkeys(re))
    return convert


duplicate_remover(list2)
duplicate_remover(list1)

In [ ]:
def revers(text):
    t = text[::-1]
    return t


revers("hello")

In [ ]:
dic = {"name":"jishnu"}

dic["name"]="jhon"
del dic
print(dic)