In [1]:
import pandas as pd 

dic = {
    'name':['jishnu','abhi',],
    'age':[26,24]
}

df = pd.DataFrame(dic)
df['salary'] = [20000,10000]
df

     name  age  salary
0  jishnu   26   20000
1    abhi   24   10000

In [2]:
dic1 = {
    'name':['jhon','bob'],
    'age':[20,18]
}

dic2 = {
    "name":['jhon','bob']
}

df = pd.DataFrame(dic1)

df2 = pd.DataFrame(dic2)

m = pd.merge(df,df2 , on = "name")

m
d = pd.concat([df,df2])

d
# print(df)
# print(df2)

   name   age
0  jhon  20.0
1   bob  18.0
0  jhon   NaN
1   bob   NaN

In [4]:
list1 = [18,20,25,12,23]

s1 = pd.Series(list1)
s1.name = "Age"
df = s1.to_frame()
df

   Age
0   18
1   20
2   25
3   12
4   23

### eployee from the datast frm the dep  it who were older than 30 sort them by salary in descending order & display name and salary clmn?

In [29]:
data  = {
    "employe":["jhon","david","mario","diana","marco","james","maria","antony"],
    "dept":["HR","IT","SALES","IT","SALES","HR","IT","SALES"],
    "age":[20,25,22,21,33,30,35,27],
    "salary":[12000,25000,30000,150000,35000,15000,20000,40000]
}

df = pd.DataFrame(data)
sort = df[(df["dept"] == "IT") & (df["age"]>30)].sort_values(by = "salary", ascending = False)[["employe","salary","age"]]
sort

  employe  salary  age
6   maria   20000   35